[client]
port=3306
socket=/var/run/mysqld/mysqld.sock

[mysqld]
user=mysql
port=3306
basedir=/usr/local/mysql
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
skip-external-locking
skip-name-resolve
log-error=/var/log/mysql.err
pid-file=/var/run/mysqld/mysqld.pid
